{% extends 'baseAdmin.html.twig' %}

{% block title %}Les produits sur kenda online{% endblock %}

{% block body %}
<div class="main-panel">

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">&#xE894;</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">liste des produits</h4>
                        <div class="row">
                            <div class="col-md-5">

                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th>Nom</th>
                                            <th>Nombre</th>
                                            <th>Prix</th>
                                            <th>Date de creation</th>
                                            <th>Description</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ken_article in ken_articles %}
                                        <tr>

                                            <td>{{ ken_article.nom }}</td>
                                            <td>{{ ken_article.nombre }}</td>
                                            <td>{{ ken_article.prix }}</td>
                                            <td>{{ ken_article.createdAt ? ken_article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ ken_article.description }}</td>
                                            <td>
                                                <a href="{{ path('ken_articles_show', {'id': ken_article.id}) }}">Afficher</a>
                                                <a href="{{ path('ken_articles_edit', {'id': ken_article.id}) }}">modifier</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('ken_articles_new') }}">Ajouter un produit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
