{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>liste des produits</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ ken_article.nom }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ ken_article.nombre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ ken_article.prix }}</td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ ken_article.createdAt ? ken_article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ken_article.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ken_articles_index') }}">back to list</a>

    <a href="{{ path('ken_articles_edit', {'id': ken_article.id}) }}">edit</a>

    {{ include('ken_articles/_delete_form.html.twig') }}
{% endblock %}
